@each $name, $theme in $theme-colors {
  .icon-#{$name} {
    color: $theme;
  }
}

$font-sizes: (
  "10": 10px,
  "12": 12px,
  "14": 14px,
  "16": 16px,
  "18": 18px,
  "20": 20px,
);
@each $name, $size in $font-sizes {
  .icon-#{$name} {
    font-size: $size;
  }
}
